@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
}

/* Smooth scroll */
html{
    scroll-behavior: smooth;
}

.container{
    max-width: 1300px;
    padding: 0px 100px;
    margin: auto;
    z-index: 10;
}

.grid {
    display: grid;
}

.section {
    padding: 6.5rem 0 2rem;
}

.section_title {
    text-align: center;
    font-size: large;
    margin-bottom: 15px;
}

.text-secondary{
    color: #18b2ff;
}

.text-center{
    text-align: center;
}

.m-heading{
    font-size: 32px;
    margin-bottom: 12px;
}

.btn-md{
    display: inline-block;
    background: linear-gradient(to right, #a1dbf8, #18b2ff);
    color: #07080B;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 36px;
    margin-top: 20px;
    border-radius: 50px;
    border: 2px solid #18b2ff;
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn-md:hover{
    color: #18b2ff;
    background: none;
}

.title::before{
    content: '';
    background: #07080B;
    height: 2px;
    width: 200px;
    margin: 0 auto;
    display: block;
    transform: translateY(44px);
}

.title::after{
    content: '';
    background: #07080B;
    height: 7px;
    width: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(1px);
}

.showcase{
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.navbar{
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 35px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
.navbar.sticky{
    padding: 10px 100px;
    background: #07080B;  
}
.navbar .logo{
    color: #18b2ff;
    font-size: 30px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 13px;
    text-transform: uppercase;
}

.navbar ul li span{
    color: #18b2ff;
    border-left: 1px solid #A9ADB8;
    padding-left: 25px;
    padding-right: 5px;
    text-align: center;
}
.navbar ul li a{
    color: #A9ADB8;
    font-weight: bold;
    transition: all 0.5s ease;
}

.navbar ul li a:hover{
    color: #18b2ff;
}

/* Showcase content section */
.showcase-text{
    max-width: 800px;
    padding-top: 250px;
    padding-left: 120px;
    color: #fff;
}
 .showcase-text .text-1{
    font-size: 27px;
}
.showcase-text .text-2{
    font-size: 75px;
    font-weight: 700;
}
.showcase-text .text-3{
    font-size: 40px;
    margin: 5px 0;
    font-weight: 700;
}
.showcase-text .text-3 span{
    color: #18b2ff;
}
.showcase-img img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    overflow: hidden;
}

.send_me {
    display: flex;
    position: absolute;
    bottom: 20px;
}

.send_me li {
    padding-right: 30px;
    list-style: none;
}

.send_me li a{
    color: #A9ADB8;
    text-decoration: none;
    transition: all 0.3s ease;
}
.send_me li a:hover{
    color: #18b2ff;
}

/* About section content */

#about{
    background: #07080B;
}

.about .title::before{
    background: #18b2ff;
}
.about .title::after{
    background: #18b2ff;
}

.about > h1{
    color: #6e6e70;
    text-align: center;
    font-size: 80px;
    transform: translateY(12px);
    opacity: 0.1;
    padding-top: -20px;
}

.about h5{
    font-weight: 700;
    transform: translateY(-65px);
}

.about .about-content .column{
    margin-top: 40px;
}
.about .about-content,
.services .service-content,
.skills .skill-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    transform: translateY(-60px);
}

.about .about-content .left{
    width: 55%;
    padding: 0 20px;
    overflow: hidden;
}
.about .about-content .left img{
    height: 450px;
    width: 450px;
    object-fit: cover;
    border-radius: 50%;
}

.about .about-content .right{
    width: 45%;
    color: #A9ADB8;
}

.about .about-content .right .text{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right .text span{
    color: #18b2ff;
}
.about .about-content .right .table{
    width: 500px;
    padding: 10px 0;
    margin-left: 0px;
}
.about .about-content .right .table td{
    padding: 10px;
}

/* Services section styling */

#services{
    color: #A9ADB8;
    background: linear-gradient(to bottom, #a1dbf8, #18b2ff);
}

.services h5{
    font-weight: 700;
    color: #07080B;
    transform: translateY(-65px);
}

.services h1{
    color: #A9ADB8;
    text-align: center;
    font-size: 80px;
    transform: translateY(13px);
    opacity: 0.55;
    padding-top: -20px;
}

.services .service-content .main{
    width: calc(30% - 20px);
    height: 450px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.service{
    background: #07080B;
    padding: 30px;
    height: 360px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transform: scale(1.05);
    box-shadow: 0 0 20px -15px #07080B;
    transition: transform 0.8s;
}
.service-logo{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #07080B;
    border: 18px solid #18b2ff;
    transform: transform 1s;
}
.service-logo i{
    color: #18b2ff;
    width: 50px;
    margin-top: 20px;
}

.service h4{
    height: 28px;
    width: 80%;
    background: #07080B;
    margin: 60px auto;
    position: relative;
}
.service h4::after{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #07080B , #18b2ff );
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}
.service h4::before{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #18b2ff , #07080B);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}
.shadowone{
    height: 200px;
    width: 80%;
    background: #07080B;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px -15px #07080B;
    transition: transform 0.8s;
}
.shadowtwo{
    height: 200px;
    width: 64%;
    background: #07080B;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: -2;
}

.main:hover .service{
    transform: translateY(-50px);
}
.main:hover .shadowone{
    transform: translateY(-25px);
}

/* My Skills Section */

#skills{
    background: #07080B;
    height: 810px;
}

.skills > h1{
    color: #6e6e70;
    text-align: center;
    font-size: 80px;
    transform: translateY(-20px);
    opacity: 0.1;
}

.skills h5{
    font-weight: 700;
    transform: translateY(-95px);
}

.skills .title::before{
    background: #18b2ff;
}
.skills .title::after{
    background: #18b2ff;
}

.skills_container {
    margin-top: -40px;
    grid-template-columns: 360px 320px;
    column-gap: 3rem;
    justify-content: center;
}

.skills_header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.skills_header:not(:last-child) {
    margin-bottom: 15px;
}

.skills_icon, .skills_arrow {
    font-size: 2rem;
    color: #18b2ff;
}

.skills_icon {
    margin-right: 10px;
}

.skills_title {
    font-size: 20px;
    font-weight: 500;
    color: #A9ADB8;
}

.skills_subtitle {
    color: #A9ADB8;
    font-size: 15px;
}

.skills_arrow {
    margin-left: auto;
}

.skills_active .skills_arrow {
    transform: rotate(-90deg);
    transition: .3s;
}

.skills [data-content] {
    display: none;
}

.skills_active[data-content] {
    display: block;
}

.skills_list {
    row-gap: 1.8rem;
}

.skills_titles {
    color: #A9ADB8;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.skills_name {
    font-size: 18px;
    font-weight: 500;
}

.skills_bar, .skills_percentage {
    height: 5px;
    border-radius: .25rem;
}

.skills_bar {
    background-color: #15151a;
}

.skills_percentage {
    display: block;
    background-color: #18b2ff;
}


/* Team section styling */

#teams{
    color: #A9ADB8;
    background: linear-gradient(to bottom, #a1dbf8, #18b2ff);
    padding-bottom: 80px; 
}

.teams h5{
    font-weight: 700;
    color: #07080B;
    transform: translateY(-65px);
}

.teams > h1{
    color: #A9ADB8;
    text-align: center;
    font-size: 80px;
    transform: translateY(12px);
    opacity: 0.55;
    padding-top: -20px;
}

.work_container {
    grid-template-columns: repeat(3, 330px);
    gap: 1.8rem;
    justify-content: center;
    padding-top: 1rem;
}

.work_filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}

.work_item {
    cursor: pointer;
    background-color: #6e6e70;
    color: #fff;
    padding: .25rem .75rem;
    font-weight: 500;
    border-radius: .5rem;
}

.work_card {
    background-color: #07080B;
    padding: 1.25rem;
    border-radius: .5rem;
}

.portfolio_item_details {
    display: none;
}

.work_image {
    width: 100%; 
    height: 200px;
    object-fit: contain;
    border-radius: .5rem;
    margin-bottom: 20px;
}

.work_title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

.work_button {
    color: #18b2ff;
    font-size: 14px;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.work_button_icon {
    font-size: 16px;
    transition: .3s;
}

.work_button:hover .work_button_icon{
    transform: translateX(.25rem);
}

.active_work {
    background-color: #07080B;
    color: #18b2ff;
}

/* Portfolio Popup Section */

.portfolio_popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.portfolio_popup.open {
    opacity: 1;
    visibility: visible;
}

.portfolio_popup_inner {
    position: relative;
    background-color: #15151a;
    width: 900px;
    border-radius: .5rem;
    padding: 2.5rem;
}

.portfolio_popup_content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
}

.portfolio_popup_close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: #18b2ff;
    cursor: pointer;
}

.portfolio_popup_img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: .5rem;
}

.portfolio_popup_subtitle {
    color: #A9ADB8;
    font-size: 14px;
    margin-bottom: .25rem;
}

.details_title {
    color: #A9ADB8;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.details_description {
    color: #A9ADB8;
    font-size: 16px;
    margin-bottom: 2rem;
}

.details_info li {
    color: #A9ADB8;
    margin-bottom: .75rem;
    text-transform: capitalize;
    font-size: 14px;
}

.details_info li:last-child {
    margin-bottom: 0;
}

.details_info li span {
    font-weight: normal;
}

.details_info li a {
    text-transform: lowercase;
    color: #FEC544;
}

/* Contact Me Section */

section{
    padding: 40px 0;
    background: #07080B;
}

.contact h1{
    color: #6e6e70;
    text-align: center;
    font-size: 80px;
    transform: translateY(12px);
    opacity: 0.1;
    padding-top: -20px;
}
.contact h5{
    font-weight: 700;
    transform: translateY(-65px);
}
.contact .title::before{
    background: #18b2ff;
}
.contact .title::after{
    background: #18b2ff;
}
.contact .contact-content .column{
    margin-top: 40px;
    width: calc(50% - 50px);
}

.contact .contact-content .left h2{
    font-size: 30px;
    margin-bottom: 30px;
    color: #A9ADB8;
}
.contact .contact-content .left .form-group input{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #A9ADB8;
    background: #fff;
    border-radius: 5px;
}
.contact .contact-content .left .form-group textarea{
    width: 100%;
    background: #fff;
    padding: 10px;
    height: 150px;
    margin-top: 20px;
    border-radius: 5px;
}
.contact .contact-content .left .btn-md{
    padding: 8px 18px;
    font-size: 16px;
}

.contact .contact-content .right{
    color: #A9ADB8;
}
.contact .contact-content .right h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.contact .contact-content .right p{
    line-height: 1.6;
}
.contact .contact-content .right .items{
    margin: 10px 0;
}
.contact .contact-content .right .items .item{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.contact .contact-content .right .items .item i{
    padding: 16px;
    border: 1px solid #A9ADB8;
    border-radius: 50%;
    margin-right: 20px;
}
.contact .contact-content .right .items .item span{
    font-size: 14px;
}
.contact .contact-content .right .links{
    overflow: hidden;
    padding: 10px 0;
}
.contact .contact-content .right .links li{
    display: inline-block;
    list-style: none;
    padding-right: 15px;
}
.contact .contact-content .right .links li a{
    color: #A9ADB8;
    text-decoration: none;
    transition: all 0.3s ease;
}
.contact .contact-content .right .links li a:hover{
    color: #18b2ff;
}

#footer{
    text-align: center;
    background: linear-gradient(to right, #a1dbf8, #18b2ff);
    padding: 30px 0;
    color: #07080B;
    font-weight: 700;
}


/* Scroll up styling */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    border: 1px solid #fff;
    background: #07080B;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}

::-webkit-scrollbar {
    width: .7rem;
    background-color: #A9ADB8;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #6e6e70;
    border-radius: .5rem;
}

@media screen and (max-width: 1140px) {
    .work_container {
        grid-template-columns: repeat(2, 330px);
    }
    .services .service-content .main{
        height: 540px;
    }
    .service{
        padding: 30px;
        height: 420px;
    }
    .service > h4 {
        font-size: 15px;
    }
    .navbar{
        margin: 0;
        padding: 35px 50px;
    }
    .navbar .logo{
        font-size: 20px;
    }
    .navbar ul li{
        margin: 0 10px;
        font-size: 13px;
    }
    .navbar ul li span{
        padding-left: 15px;
    }    
    .navbar.sticky{
        height: 60px;
    }
}

@media screen and (max-width: 1100px) {
    .about .about-content .left{
        margin-left: -50px;
        width: 40%;
    }
    .about .about-content .left img{
        height: 250px;
        width: 250px;
    }
    
    .about .about-content .right{
        width: 60%;
        color: #A9ADB8;
        margin-right: -30px;
    }
    
    .about .about-content .right .text{
        font-size: 20px;
    }
    .about .about-content .right p{
        font-size: 16px;
    }
    
    .about .about-content .right .table{
        width: 200px;
        padding: 10px 0;
        margin-left: 0px;
    }
    .showcase-text{
        max-width: 700px;
        padding-left: 70px;
    }
    .showcase-text .text-1{
        font-size: 24px;
    }
    .showcase-text .text-2{
        font-size: 65px;
    }
    .showcase-text .text-3{
        font-size: 30px;
    }
}

@media screen and (max-width: 980px) {
    .service{
        padding: 30px;
        width: 250px;
    }
    .service-content {
        margin-left: -70px;
    }
    .shadowone{
        height: 200px;
        width: 212px;
        left: 10%;
    }
    .shadowtwo{
        height: 200px;
        width: 176px;
        left: 18%;
    }
    .showcase-img img{
        width: 300px;
        height: 80%;
    }
}

@media screen and (max-width: 900px) {
    .about .about-content .left{
        display: none;
    }
    
    .about .about-content .right{
        width: 100%;
        margin-right: -50px;
        margin-left: -50px;
    }
    
    .about .about-content .right .text{
        font-size: 18px;
    }
    .showcase-text{
        max-width: 500px;
        padding-left: 30px;
    }
    .showcase-text .text-1{
        font-size: 20px;
    }
    .showcase-text .text-2{
        font-size: 45px;
    }
    .showcase-text .text-3{
        font-size: 20px;
    }
    .navbar{
        margin: 0;
        padding: 35px 20px;
    }
    .navbar .logo{
        font-size: 15px;
    }
    .navbar ul li{
        margin: 0 5px;
        font-size: 13px;
    }
    .navbar ul li span{
        padding-left: 5px;
    }   
    .navbar.sticky{
        padding: 10px 10px;
        height: 60px;
    }
}


@media screen and (max-width: 770px) {
    .work_container {
        grid-template-columns: repeat(1, 330px);
    }
    .services .service-content .main{
        height: 540px;
    }
    .service > p{
        font-size: 14px;
    }
    .service-content {
        margin-left: -100px;
        flex-direction: column;
    }
    .shadowone{
        width: 216px;
    }
    .shadowtwo{
        width: 187px;
    }
    .skills_container {
        grid-template-columns: 260px 220px;
        column-gap: 1.5rem;
        justify-content: center;
    }
    .skills_icon, .skills_arrow {
        font-size: 1.5rem;
    }

    .skills_title {
        font-size: 15px;
    }

    .skills_subtitle {
        font-size: 12px;
    }
    .skills_list {
        row-gap: 1.8rem;
    }
    .skills_name {
        font-size: 15px;
        font-weight: 500;
    }
    .links {
        font-size: 14px;
    }
    .contact-content {
        flex-direction: column-reverse;
        margin-left: -100px;
        margin-right: -100px;
        width: 300px;
    }
    .contact .contact-content .right, .contact .contact-content .left {
        width: 300px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 640px) {
    .showcase-img img{
        display: none;
    }
    .navbar{
        padding: 35px 8px;
    }
    .navbar .logo{
        display: none;
    }
    .navbar ul li{
        margin: 0 2px;
        font-size: 10px;
    }
    .navbar ul li span{
        padding-left: 2px;
    }
    .btn-md{
        font-size: 14px;
    }
    .showcase-text .text-2{
        font-size: 30px;
        margin: 10px 0;
    }
    .about > h1,
    .services > h1,
    .skills > h1,
    .teams > h1,
    .contact > h1{
        font-size: 60px;
        transform: translateY(7px);
    }
    .skills > h1 {
        transform: translateY(30px);
    }
    .about .about-content .right{
        width: 90%;
        padding: 0 5px;
        margin-top: 30px;
    }
    .service{
        margin-left: -60px;
        margin-top: 30px;
    }
    .service-content {
        margin-left: -60px;
    }
    .shadowone{
        display: none;
    }
    .shadowtwo{
        display: none;
    }
    .work_filters {
        column-gap: 1.5rem;
        margin-top: 20px;
    }
    .skills_container {
        grid-template-columns: 180px 150px;
        column-gap: 1rem;
        margin-top: 20px;
    }
    #footer{
        font-size: 14px;
    }
}
